@font-face {
  font-family: 'iconfont';
  /* Project id 4528205 */
  src:
    url('/fonts/iconfont.woff2?t=1716210197380') format('woff2'),
    url('/fonts/iconfont.woff?t=1716210197380') format('woff'),
    url('/fonts/iconfont.ttf?t=1716210197380') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert:before {
  content: '\e83a';
}

.icon-check:before {
  content: '\e847';
}

.icon-error:before {
  content: '\e854';
}

.icon-info:before {
  content: '\e85f';
}

.icon-close:before {
  content: '\e84a';
}

.icon-user-heart:before {
  content: '\e88c';
}

.icon-wechat:before {
  content: '\e7e3';
}

.icon-codepen:before {
  content: '\e7cd';
}

.icon-instagram:before {
  content: '\e7d3';
}

.icon-playstation:before {
  content: '\e7d9';
}

.icon-qq:before {
  content: '\e7da';
}

.icon-steam:before {
  content: '\e7e2';
}

.icon-switch:before {
  content: '\e7e5';
}

.icon-telegram:before {
  content: '\e7e6';
}

.icon-twitch:before {
  content: '\e7e7';
}

.icon-weibo:before {
  content: '\e7e8';
}

.icon-xbox:before {
  content: '\e7e9';
}

.icon-github:before {
  content: '\e7d2';
}

.icon-down:before {
  content: '\e83d';
}

.icon-map:before {
  content: '\e7fa';
}

.icon-more:before {
  content: '\e877';
}

.icon-left:before {
  content: '\e844';
}

.icon-right:before {
  content: '\e845';
}

.icon-rss:before {
  content: '\e74b';
}

.icon-ghost:before {
  content: '\e882';
}

.icon-contacts-book:before {
  content: '\e760';
}

.icon-x:before {
  content: '\eced';
}

.icon-pen:before {
  content: '\e720';
}

.icon-t-box:before {
  content: '\e727';
}

.icon-hearts:before {
  content: '\e7c1';
}

.icon-text:before {
  content: '\e7a8';
}

.icon-netease-cloud-music:before {
  content: '\e7d7';
}

.icon-pushpin:before {
  content: '\e7f1';
}

.icon-arrow-left-up:before {
  content: '\e842';
}

.icon-computer:before {
  content: '\e73a';
}

.icon-file-list:before {
  content: '\e76d';
}

.icon-link:before {
  content: '\e79b';
}

.icon-flask:before {
  content: '\e7bd';
}

.icon-douban:before {
  content: '\e7cc';
}

.icon-folder:before {
  content: '\e784';
}

.icon-hashtag:before {
  content: '\e798';
}

.icon-archive:before {
  content: '\e6be';
}

.icon-calendar:before {
  content: '\e6c9';
}

.icon-mail:before {
  content: '\e6da';
}

.icon-pantone:before {
  content: '\e71d';
}

.icon-quotes-l:before {
  content: '\e793';
}

.icon-quotes-r:before {
  content: '\e794';
}

.icon-heart:before {
  content: '\e7bf';
}

.icon-bilibili:before {
  content: '\e7c8';
}

.icon-zhihu:before {
  content: '\e7e4';
}

.icon-rocket:before {
  content: '\e7f3';
}

.icon-arrow-left:before {
  content: '\e841';
}

.icon-arrow-right:before {
  content: '\e843';
}

.icon-external-link:before {
  content: '\e853';
}

.icon-loader:before {
  content: '\e85d';
}

.icon-menu:before {
  content: '\e864';
}

.icon-search:before {
  content: '\e86e';
}

.icon-share:before {
  content: '\e874';
}

.icon-timer:before {
  content: '\e87c';
}

.icon-moon:before {
  content: '\e89c';
}

.icon-sun:before {
  content: '\e89e';
}
