@font-face {
  font-family: 'iconfont'; /* Project id 4336692 */
  src:
    url('/fonts/iconfont.woff2?t=1713750755846') format('woff2'),
    url('/fonts/iconfont.woff?t=1713750755846') format('woff'),
    url('/fonts/iconfont.ttf?t=1713750755846') format('truetype');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: '\e88e';
}

.icon-computer:before {
  content: '\e73f';
}

.icon-pin:before {
  content: '\e81d';
}

.icon-tag:before {
  content: '\e781';
}

.icon-clipboard:before {
  content: '\e768';
}

.icon-check:before {
  content: '\e88f';
}

.icon-rss:before {
  content: '\e730';
}

.icon-arrow-left-up:before {
  content: '\e894';
}

.icon-external-link:before {
  content: '\e8ef';
}

.icon-codepen:before {
  content: '\e7df';
}

.icon-more:before {
  content: '\e8a4';
}

.icon-left:before {
  content: '\e685';
}

.icon-right:before {
  content: '\e687';
}

.icon-search:before {
  content: '\e8ab';
}

.icon-sun:before {
  content: '\e930';
}

.icon-moon:before {
  content: '\e939';
}

.icon-list-check:before {
  content: '\e787';
}

.icon-chart-box:before {
  content: '\e6ed';
}

.icon-folder:before {
  content: '\e754';
}

.icon-rocket:before {
  content: '\e822';
}

.icon-calendar-2:before {
  content: '\e6f3';
}

.icon-calendar:before {
  content: '\e6f4';
}

.icon-eye:before {
  content: '\e898';
}

.icon-timer:before {
  content: '\e8be';
}

.icon-arrow-right:before {
  content: '\e8ae';
}

.icon-arrow-left:before {
  content: '\e8f8';
}

.icon-creative-commons-line:before {
  content: '\e6ea';
}

.icon-creative-commons-sa-line:before {
  content: '\e6eb';
}

.icon-creative-commons-nd-line:before {
  content: '\e6ec';
}

.icon-creative-commons-nc-line:before {
  content: '\e6ef';
}

.icon-creative-commons-zero-line:before {
  content: '\e6f8';
}

.icon-creative-commons-by-line:before {
  content: '\e6f9';
}

.icon-mail:before {
  content: '\e6ce';
}

.icon-notion:before {
  content: '\ec37';
}

.icon-weibo:before {
  content: '\ec9c';
}

.icon-steam:before {
  content: '\ecc3';
}

.icon-twitter:before {
  content: '\eced';
}

.icon-wechat:before {
  content: '\ed0d';
}

.icon-github:before {
  content: '\e885';
}

.icon-bilibili:before {
  content: '\e601';
}

.icon-zhihu:before {
  content: '\eb80';
}
